@import url("https://fonts.googleapis.com/css?family=Montserrat:500|Heebo:300");

html, body {
    height: 100%;
}

body {
    font-family: "Heebo";
    background-color: azure;
    margin: 30px;
}

footer {
    text-align: center;
}

h1, h2 {
    font-family: "Montserrat";
    text-decoration: none;
}

h2 {
    text-align: center;
}

.archer-text {
    margin-left: 50px;
    margin-right: 50px;
}

.topnav {
    background-color: #d32828;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    overflow-x: hidden;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    width: 12.053%;
    text-decoration: none;
    font-size: 18px;
}

.topnav a:hover {
    background-color: rgb(125, 32, 32);
    color: rgb(255, 255, 255);
}

.topnav a.active {
    background-color: lightblue;
    color: black;
}
